<div class="col-12">
    <div class="card">
        <div class="table-responsive">
            <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns ">
                <div class="dataTable-container " style="margin-bottom: 10vh !important;">
                    <table class="table table-flush dataTable-table" id="example3" >
                        <thead class="thead-light">
                            <tr>
                                <th class="text-center" style="width: 17.0382%;"><a>#</a></th>
                                <th class="text-center" style="width: 15.9236%;"><a>First Name</a></th>
                                <th class="text-center" style="width: 15.9236%;"><a>Last Name</a></th>
                                <th class="text-center" style="width: 15.9236%;"><a>Gender</a></th>
                                <th class="text-center" style="width: 15.9236%;"><a>Contact #</a></th>
                                <th class="text-center" style="width: 15.9236%;"><a>E-mail</a></th>
                                <th class="text-center" style="width: 15.9236%;"><a>Address</a></th>
                                <th class="text-center" style="width: 15.5255%;"><a>Last Login</a></th>
                                <th class="text-center" style="width: 15.5255%;"><a>Date Created</a></th>
                                <th class="text-center" style="width: 15.5255%;"><a>Date Updated</a></th>
                                <th class="text-center" style="width: 15.5255%;"><a>Action</a></th>
                            </tr>
                        </thead>
                        <tbody class="clients_list">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>