<nav class="navbar navbar-expand-lg position-absolute top-0 z-index-3 w-100 shadow-none my-3 navbar-transparent mt-4">
    <div class="container">
        <a class="navbar-brand font-weight-bolder ms-lg-0 ms-3 text-white" href="#">
            TE MOTORCYCLE (BIKE) RENTAL SYSTEM
        </a>
        <div class="form-check form-switch my-2">
            Ligh / Dark
            <input class="form-check-input" type="checkbox" id="dark-version" onclick="darkMode(this)" checked="true">
        </div>
    </div>
</nav>

<main class="main-content mt-0">
    <div class="page-header align-items-start min-vh-100"
        style="background-image: url('../../public/images/ln-bg.png');">
        <span class="mask bg-gradient-dark opacity-6"></span>
        <div class="container my-auto" id="pg">
            <div class="row">
                <div class="col-lg-4 col-md-8 col-12 mx-auto">
                    <div class="card z-index-0 fadeIn3 fadeInBottom">
                        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                            <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                                <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">Admin Sign in</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <form role="form" action="javascript:void(0);" class="text-start" method="POST" id="auth">
                                <div class="input-group input-group-outline my-3" id="nname">
                                    <label class="form-label">Username</label>
                                    <input type="username" name="uname" id="uname" class="form-control">
                                </div>
                                <div class="input-group input-group-outline mb-3" id="pppas">
                                    <label class="form-label">Password</label>
                                    <input type="password" name="pwd" id="pwd" class="form-control">
                                </div>
                                <div class="form-check form-switch d-flex align-items-center mb-3">
                                    <input class="form-check-input" type="checkbox" id="rememberMe" checked>
                                    <label class="form-check-label mb-0 ms-3" for="rememberMe">Remember me</label>
                                </div>
                                <div class="text-center">
                                    <button type="text" onclick="sbmt_in()" class="btn bg-gradient-primary w-100 my-4 mb-2" id="sbmt">Sign
                                        in</button>
                                </div>
                                <p class="mt-4 text-sm text-center">
                                    Forgot Password ?
                                    <a href="#" class="text-primary text-gradient font-weight-bold">Contact Us</a>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer position-absolute bottom-2 py-3 w-100">
            <div class="container">
                <div class="row align-items-center justify-content-lg-between">
                    <div class="copyright text-center text-sm text-white text-lg-start">
                        <center>
                            ©
                            <script>
                                document.write(new Date().getFullYear())
                            </script>,
                            TE MOTOBIKES made <i class="fa fa-heart" aria-hidden="true"></i> by
                            <a href="" class="font-weight-bold text-white"
                                target="_blank">TEAM REAM</a>
                            for a better web.
                        </center>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</main>